host=127.0.0.1
port=5434
user=postgres
password=SECRET
aws-key=AWSKEY
aws-secret=AWS_SECRET
aws-bucket=bucket
aws-region=sa-east-1
aws-prefix=backups/
tempserver=true
tempserver-host=HOST
tempserver-user=USER
tempserver-sshkey=PATH_TO_KEY
tempserver-downloadfolder=PATH_IN_REMOTE_SERVER